<div class="editIt">
<h1>Editing Itinerary</h1>

<hr>
<%= render 'form', itinerary: @itinerary %>

<div class="actions">
  <div class="linkBack btn btn-primary">
    <%= link_to 'Back', itineraries_path %>
  </div>
</div>
</div>
