<h1 class="section__headline">Post a New Ride</h1>

<%= render 'form', itinerary: @itinerary %>
<% begin %>
  <div class="newPath btn btn-info">
 <%= link_to 'Back', itineraries_path %>
</div>
<% end %>
