<div class="err_page">

    <h1>404</h1>
    <h4>OOPS. Looks like the page you're looking for no longer exists</h4>
    <p>Don't worry. Since you're valuable to us we will bring you back to safety</p>

    <button><%= link_to 'Back to home', root_path, class:"err_btn" %></button>

</div>
