// Place all the styles related to the Itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#itinerary {
  margin-top: 8vh;
  margin-left: 4vw;
}

.linkBack {
  margin-left: 1vw;
  color: white;
}

.editIt {
  margin-top: 8vh;
}

.editIt h1 {
  margin-left: 2vw;
}

.showItinerary {
  float: right;
  margin-top: 12vh;
  word-wrap: normal;
  width: 80vw;
}

.containShow {
  display: flex;
}

.showPicture {
  margin-top: 12vh;
  width: 20vw;
  word-wrap: normal;
}

.imageHolder {
  margin-top: 2vh;
}

.newPath {
  margin-left: 1vw;
}

.newPageContainer {
  margin-top: 8vh;
}

.itineraryContainer {
  margin-top: 8vh;
  margin-left: 2vw;
  width: 90%;
}

// .pageFlip {
//   display: flex;
//   justify-content: end;
//   width: 20vw;
// }
